Django==3.2.9
django-cors-headers==3.10.0
djangorestframework==3.12.4
djoser==2.1.0
feedparser==5.2.1
nltk==3.6.5
numpy==1.21.4
pandas==1.3.4
Pillow==8.4.0
pygooglenews==0.1.2
scikit-learn==1.0.1
scipy==1.7.1
selenium==4.0.0
sklearn==0.0
googlesearch-python==1.1.0
GoogleNews==1.6.5